/* Boders for debugging */

/* div, header, footer, nav, ul, li, img {
  border: 1px solid blue;
} */

/* Universal settings */

html {
  font-size: 16px;
  font-family: "Asap", sans-serif;
  line-height: 1.5;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.75rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
}


header {
  position: fixed;
  height: 4rem;
  width: 100%;
  background-color: white;
  z-index: 1;
}

header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
}

.logo a {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

.logo img {
  height: 2rem;
}

.logo p {
  display: inline-block;
  align-items: center;
  text-transform: uppercase;
  font-family: "Lato";
  font-size: 1rem;
}

.logo span {
  color: powderblue;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  padding: 0 1rem;
}

header .mobile {
  display: none;
}

.banner {
  display: flex;
  background-color: powderblue;
  width: 100%;
  position: relative;
  top: 4rem;
  align-items: center;
}

.banner-image {
  padding: 1.5rem 2rem;
}

.banner-image img {
  max-width: 100%;
}

.banner-content {
  padding-left: 1rem;
  padding-right: 1.5rem;
  position: flex;
  flex-direction: column;
  width: 40%;
}

.banner-content h1 {
  font-size: 4rem;
}

.banner-content p {
  font-size: 1.75rem;
  padding: 1.5rem 0;
  line-height: 1.5;
}

.button {
  background-color: slategrey;
  color: white;
  text-align: center;
  padding: 0.5rem 0;
  font-size: 1.75rem;
}

.button:hover {
  background-color: Darkgrey;
  transition-property: color;
  transition-duration: 1s;
  transition-timing-function: linear;
  transition-delay: 0.25s;
}

.button:active {
  border: 1px solid white;
}

.information {
  display: flex;
  align-items: center;
  padding: 2rem 1.5rem;
}

.column-one {
  width: 60%;
  padding-right: 1.5rem;
}

.practice img {
  max-width: 100%;
}

.practice h1 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.practice .quote {
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

main .mobile {
  display: none;
}

.column-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  padding: 2rem 0;
}

.info {
  padding: 1rem;
  display: flex;
}

.info p {
  padding: 0.5rem 0;
  line-height: 1.5;
}

.info a {
  color: blue;
}

.desktop .image {
  width: 35%;
  height: auto;
}

.info img {
  max-width: 100%;
}

.info .content {
  display: block;
  width: 65%;
}

.lecture {
  background-color: powderblue;
}

.academics {
  padding: 2rem 2rem;
  background-color: powderblue;
}

.academics h1 {
  text-align: center;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.course {
  margin: 1rem;
  background-color: white;
  padding-bottom: 1.5rem;
  flex-basis: 30%;
}

.course img {
  width: 100%;
  height: auto;
}

.course h2 {
  padding: 1rem;
}

.course h3 {
  text-transform: uppercase;
  padding: 1rem 1rem;
}

.course p {
  padding: 0 1rem;
}

.exhibit {
  padding: 2rem 1.5rem;
}

.exhibit h1 {
  text-align: center;
  padding-bottom: 2rem;
}

.container {
  display: flex;
}

.video {
  display: flex;
  flex-direction: column;
  width: 60%;
}


.video video {
  width: 100%;
  padding-bottom: 1rem;
}

.video h2 {
  padding: 0.5rem 0;
}

.video p {
  padding: 0.5rem 0;
  line-height: 1.5;
}

.theses {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.thesis {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.thesis img {
  margin: 1rem;
  width: 35%;
  height: auto;
}

.thesis .content {
  padding: 1rem;
  align-items: center;
}

.thesis h2 {
  padding: 0.5rem 0;
}

.thesis p {
  line-height: 1.5;
}

.fisma {
  background-color: powderblue;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}
